# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Training results
runs/
wandb/

# Dataset
datasets/
data/
train/
valid/
test/

# Log files
*.log

# Temporary files
*.tmp